<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?e4b18f4136681ac4c2da2785caff6f8f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

	
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<title>{{ page.title }} - Wangkaiyu's Wiki</title>
		<meta name="keywords" content="wiki, github, product, pm, stastic, user research, user experiance, UX, UE, reading, book" />
		<meta name="description" content="Wangkaiyu的个人wiki，用来记录工作学习中用到的数据资料。" />
		<link href='http://fonts.googleapis.com/css?family=Mate+SC' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/assets/style.css" />
		<link rel="stylesheet" type="text/css" href="/assets/ui.totop.css" />
		<link rel="stylesheet" type="text/css" href="/assets/pygments.css" />
		<script type="text/javascript" src="/assets/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/waypoints.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.ui.totop.js"></script>
		<script type="text/javascript" src="/assets/common.js"></script>
	</head>

	<body>
		<div id="container">
			<div id="sidebar">
				<div id="logo"><a href="/">Bindiry's Wiki</a></div>
				<div id="menu-nav">
					<ul>
						<li>Development &amp; Design
							<ul>
								<li><a href="/pages/development-design/dotnet.html">.NET</a></li>
								<li><a href="/pages/development-design/actionscript.html">ActionScript</a></li>
								<li><a href="/pages/development-design/database.html">Database</a></li>
								<li><a href="/pages/development-design/golang.html">Go</a></li>
								<li><a href="/pages/development-design/php.html">PHP</a></li>
								<li><a href="/pages/development-design/idev.html">iDev</a></li>
								<li><a href="/pages/development-design/python.html">Python</a></li>
								<li><a href="/pages/development-design/ruby.html">Ruby</a></li>
								<li><a href="/pages/development-design/web-front-end.html">Web Front-end</a></li>
							</ul>
						</li>
						
						<li>Software
							<ul>
								<li><a href="/pages/software/osx.html">OS X</a></li>
								<li><a href="/pages/software/linux.html">Linux</a></li>
								<li><a href="/pages/software/windows.html">Windows</a></li>
								<!--<li><a href="/pages/software/ios.html">iOS</a></li>-->
								<li><a href="/pages/software/editor_ide.html">Editor &amp; IDE</a></li>
							</ul>
						</li>
						
						<li>Other
							<ul>
								<li><a href="/pages/other/game_development.html">Game Development</a></li>
								<li><a href="/pages/other/open_source_projects.html">Open Source</a></li>
								<li><a href="/pages/other/references.html">References</a></li>
								<li><a href="/pages/other/server.html">Server</a></li>
								<li><a href="/pages/other/website.html">WebSite</a></li>
								<li><a href="/pages/other/hardware.html">Hardware</a></li>
								<li><a href="/pages/other/articles.html">Articles</a></li>
							</ul>
						</li>
						
						<li>Date analytic
							<ul>
								<li><a href="/pages/Date-analytic/ReadFirst.html">前言</a></li>
							</ul>
						</li>
					</ul>
					
					<ul>
						<li>Links
							<ul>
								<li><a href="http://blog.wangkaiyu.in">Blog</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
			<div id="content">
				{{ content }}
			</div>
			
		</div>

	<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-53245049-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
	</body>
</html>
