<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?f1a84dc51f18de417916ad840e2f68ff";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

	
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<title>{{ page.title }} - Wangkaiyu's Wiki</title>
		<meta name="keywords" content="wiki, github, product, pm, stastic, user research, user experiance, UX, UE, reading, book" />
		<meta name="description" content="Wangkaiyu的个人wiki，用来记录工作学习中用到的数据资料。" />
		<link href='http://fonts.googleapis.com/css?family=Mate+SC' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/assets/style.css" />
		<link rel="stylesheet" type="text/css" href="/assets/ui.totop.css" />
		<link rel="stylesheet" type="text/css" href="/assets/pygments.css" />
		<script type="text/javascript" src="/assets/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/waypoints.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.ui.totop.js"></script>
		<script type="text/javascript" src="/assets/common.js"></script>
	</head>

	<body>
		<div id="container">
			<div id="sidebar">
				<div id="logo"><a href="/">kaiyu's Wiki</a></div>
				<div id="menu-nav">
					<ul>
						<li>Development &amp; Design
							<ul>
								<li><a href="/pages/development-design/dotnet.html">.NET</a></li>
								<li><a href="/pages/development-design/actionscript.html">ActionScript</a></li>
								<li><a href="/pages/development-design/database.html">Database</a></li>
								<li><a href="/pages/development-design/golang.html">Go</a></li>
								<li><a href="/pages/development-design/php.html">PHP</a></li>
								<li><a href="/pages/development-design/idev.html">iDev</a></li>
								<li><a href="/pages/development-design/python.html">Python</a></li>
								<li><a href="/pages/development-design/ruby.html">Ruby</a></li>
								<li><a href="/pages/development-design/web-front-end.html">Web Front-end</a></li>
							</ul>
						</li>
						
						<li>Software
							<ul>
								<li><a href="/pages/software/osx.html">OS X</a></li>
								<li><a href="/pages/software/linux.html">Linux</a></li>
								<li><a href="/pages/software/windows.html">Windows</a></li>
								<!--<li><a href="/pages/software/ios.html">iOS</a></li>-->
								<li><a href="/pages/software/editor_ide.html">Editor &amp; IDE</a></li>
							</ul>
						</li>
						
						<li>Other
							<ul>
								<li><a href="/pages/other/game_development.html">Game Development</a></li>
								<li><a href="/pages/other/open_source_projects.html">Open Source</a></li>
								<li><a href="/pages/other/references.html">References</a></li>
								<li><a href="/pages/other/server.html">Server</a></li>
								<li><a href="/pages/other/website.html">WebSite</a></li>
								<li><a href="/pages/other/hardware.html">Hardware</a></li>
								<li><a href="/pages/other/articles.html">Articles</a></li>
							</ul>
						</li>
						
						<li>Date analytic
							<ul>
								<li><a href="/pages/Date-analytic/ReadFirst.html">前言</a></li>
								<li><a href="/pages/Date-analytic/BIEEbasic.html">BIEE入门</a></li>
								<li><a href="/pages/Date-analytic/BIEEadvance.html">BIEE高级操作</a></li>
								<li><a href="/pages/Date-analytic/BIEEcase.html">BIEE实例</a></li>
								<li><a href="/pages/Date-analytic/Omniture.html">Omniture入门</a></li>
							</ul>
						</li>
					</ul>
					
					<ul>
						<li>Links
							<ul>
								<li><a href="http://blog.wangkaiyu.in">Blog</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
			<div id="content">
				{{ content }}
			</div>
			
		</div>

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53245049-2', 'auto');
  ga('send', 'pageview');

</script>
	</body>
</html>
