<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?f1a84dc51f18de417916ad840e2f68ff";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

	
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<title>王开宇的Wiki</title>
		<meta name="keywords" content="wiki, github, product, pm, stastic, user research, user experiance, UX, UE, reading, book" />
		<meta name="description" content="王开宇的个人wiki，用来索引和记录生活和学习中用到的资料和链接。" />
		<!--link hrel="/favicon.jpg" rel="icon"-->
		<link href="{{ root_url }}/favicon.jpg" rel="icon">
		<link href='http://fonts.googleapis.com/css?family=Mate+SC' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/assets/style.css" />
		<link rel="stylesheet" type="text/css" href="/assets/ui.totop.css" />
		<link rel="stylesheet" type="text/css" href="/assets/pygments.css" />
		<script type="text/javascript" src="/assets/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/waypoints.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.ui.totop.js"></script>
		<script type="text/javascript" src="/assets/common.js"></script>
	</head>

	<body>
		<div id="container">
			<div id="sidebar">
				<div id="logo"><a href="/">kaiyu's Wiki</a></div>
				<div id="menu-nav">
					<ul>

						<li>Data Analysis
							<ul>
								<li><a href="/pages/DataAnalysis/readme.html">Readme</li>
							</ul>	
						</li>
						
						<li>Design
							<ul>
								<li><a href="/pages/Design/readme.html">Readme</li>
							</ul>
						</li>

						<li>Movies
							<ul>
								<li><a href="/pages/Movies/readme.html">Readme</li>
							</ul>
						</li>

						<li>Read
							<ul>
								<li><a href="/pages/Read/readme.html">Readme</li>
							</ul>
						</li>

						<li>Other
							<ul>
								<li><a href="/pages/other/game_development.html">Game Development</a></li>
								<li><a href="/pages/other/open_source_projects.html">Open Source</a></li>
								<li><a href="/pages/other/references.html">References</a></li>
								<li><a href="/pages/other/server.html">Server</a></li>
								<li><a href="/pages/other/website.html">WebSite</a></li>
								<li><a href="/pages/other/hardware.html">Hardware</a></li>
								<li><a href="/pages/other/articles.html">Articles</a></li>
							</ul>
						</li>
						
					</ul>
					
					<ul>
						<li>Links
							<ul>
								<li><a href="http://blog.wangkaiyu.in">Blog</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
			<div id="content">
				{{ content }}
			</div>
			
		</div>

	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53245049-2', 'auto');
  ga('send', 'pageview');

</script>
	</body>
</html>
